<a href="https://colab.research.google.com/github/MisGall10/Practica13_14_15_16_17_Misael_Gallardo/blob/main/Practica13_14_15_16_17MACG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Practica # 13-14-15-16-17. Limpieza y Transformación de datos**

El objetivo de esta actividad es que los estudiantes practiquen los temas vistos de carga de datos, normalización de nombres de columnas, separación y unión de columnas, errores en los tipos de datos. Todo es en un conjunto de datos utilizando **Pandas** en **Python**.

**Instrucciones:**

1. Descarga el archivo CSV, miaad-nyc-r-s.csv, proporcionado en esta tarea. También lo puedes encontrar en recursos.
2. Crea un notebook en colab y guarda el archivo csv descargado en tu drive.
3. Agrega secciones en el colab poniendo como título el nombre de la práctica

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

---

**Práctica 13: Carga de datos**

Al final del archivo contiene una línea que dice "Esta es una línea que no deberías cargar". Esta línea es irrelevante por lo tanto al cargar el CSV a un dataframe se debería de ignorar.

*   Carga el archivo a un datframe usando el codigo necesario para omitir la ultima fila.

In [55]:
#Importamos la librería de pandas y asignamos un alias (pd)
import pandas as pd

#Leemos el archivo csv usando la funcion skipfooter para borrar la ultima
#linea de codigo y defininedo el motor Python
df = pd.read_csv('/content/drive/MyDrive/ClassFiles/Programacion/miaad-nyc-r-s.csv', skipfooter = 1, engine ='python')

* Usa df.tail(3) para demostrar que no has cargado la última línea

In [56]:
#Utilizamos la funcion para demostrar que no cargamos la ultima linea
print(df.tail())

       Unnamed: 0  BOROUGH NEIGHBORHOOD  \
84543        8409        5      WOODROW
84544        8410        5      WOODROW
84545        8411        5      WOODROW
84546        8412        5      WOODROW
84547        8413        5      WOODROW

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
84543  02 TWO FAMILY DWELLINGS                                        1
84544  02 TWO FAMILY DWELLINGS                                        1
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4

       BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                ADDRESS  \
84543   7349   34                                  B9          37 QUAIL LANE
84544   7349   78                                  B9       32 PHEASANT LANE
84545   7351   60                                  B2       49 PITNEY AVENUE
84546   7100   28                                  K6  2730 ARTHUR KILL ROAD
84547   7105  679                                  P9      155 CLAY PIT ROAD

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
84543  ...                 2                 0            2              2400
84544  ...                 2                 0            2              2498
84545  ...                 2                 0            2              4000
84546  ...                 0                 7            7            208033
84547  ...                 0                 1            1             10796

       GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE  \
84543               2575       1998                         1
84544               2377       1998                         1
84545               1496       1925                         1
84546              64117       2001                         4
84547               2400       2006                         4

       BUILDING CLASS AT TIME OF SALE  SALE PRICE            SALE DATE
84543                              B9      450000  2016-11-28 00:00:00
84544                              B9      550000  2017-04-21 00:00:00
84545                              B2      460000  2017-07-05 00:00:00
84546                              K6    11693337  2016-12-21 00:00:00
84547                              P9       69300  2016-10-27 00:00:00

[5 rows x 22 columns]

* Imprime la cantidad de filas y columnas del dataframe

In [57]:
#Guardamos en las cariables filas y columnas los valores resultantes de la tupla
#obtenida por la funcion df.shape()
filas , columnas = df.shape
#Ahora imprimimos los resultados
print(f'El numero de filas es: {filas}')
print(f'El numero de columnas es: {columnas}')

El numero de filas es: 84548
El numero de columnas es: 22

---

**Práctica 14: Agregar una columna**

* Imprime los nombres de las columnas del archivo

In [58]:
#Imprimimos los nombres de las columnas del archivo
for col in df.columns:
    print(col)

Unnamed: 0
BOROUGH
NEIGHBORHOOD
BUILDING CLASS CATEGORY
TAX CLASS AT PRESENT
BLOCK
LOT
EASE-MENT
BUILDING CLASS AT PRESENT
ADDRESS
APARTMENT NUMBER
ZIP CODE
RESIDENTIAL UNITS
COMMERCIAL UNITS
TOTAL UNITS
LAND SQUARE FEET
GROSS SQUARE FEET
YEAR BUILT
TAX CLASS AT TIME OF SALE
BUILDING CLASS AT TIME OF SALE
SALE PRICE
SALE DATE

* Asegúrate que el nombre de la primera columna debería ser INDEX MIIAD. Si esto no es así, entonces agrega dicho nombre a la columna y vuelve a imprimir los nombres para mostrar el cambio realizado.

In [59]:
#Agregamos el nuevo nombre a la primer columnas y dejamos las demas intactas con ayuda
#de + list(df.columns[1:])
df.columns = ['INDEX MIIAD'] + list(df.columns[1:])
#Imprimimos nuevamente los nombres de las columnas del archivo
for col in df.columns:
    print(col)

INDEX MIIAD
BOROUGH
NEIGHBORHOOD
BUILDING CLASS CATEGORY
TAX CLASS AT PRESENT
BLOCK
LOT
EASE-MENT
BUILDING CLASS AT PRESENT
ADDRESS
APARTMENT NUMBER
ZIP CODE
RESIDENTIAL UNITS
COMMERCIAL UNITS
TOTAL UNITS
LAND SQUARE FEET
GROSS SQUARE FEET
YEAR BUILT
TAX CLASS AT TIME OF SALE
BUILDING CLASS AT TIME OF SALE
SALE PRICE
SALE DATE

---

**Práctica 15: Normalización de los nombres de la colummna**

* Normaliza los nombres de ls columnas, los cuales deberán estar en minúsculas. Asimismo, reemplaza los espacios con guion bajo

In [60]:
#Convertimos los nombres de las columnas usando el formato snake_case
#str.lower() nos ayuda a convertir todas las letras a minuscula y
#str.replace(' ', '_') nos ayuda a cambiar los espacios por un guion bajo
df.columns = df.columns.str.lower().str.replace(' ', '_')

* Imprime los nombres de las columnas para demostrar que has realizado la normalización

In [61]:
#Imprimimos nuevamente los nombres de las columnas del archivo
for col in df.columns:
    print(col)

index_miiad
borough
neighborhood
building_class_category
tax_class_at_present
block
lot
ease-ment
building_class_at_present
address
apartment_number
zip_code
residential_units
commercial_units
total_units
land_square_feet
gross_square_feet
year_built
tax_class_at_time_of_sale
building_class_at_time_of_sale
sale_price
sale_date

---

**Práctica 16: Errores en los Tipos de Datos**

* Imprime los tipos de datos de cada columna.

In [62]:
#Utilizamos un ciclo for para imprimir el nombre de columna y su tipo de dato correspondiente
for col in df.columns:
  print(f'Columna: {col}, DataType: {df[col].dtype}')

Columna: index_miiad, DataType: int64
Columna: borough, DataType: int64
Columna: neighborhood, DataType: object
Columna: building_class_category, DataType: object
Columna: tax_class_at_present, DataType: object
Columna: block, DataType: int64
Columna: lot, DataType: int64
Columna: ease-ment, DataType: object
Columna: building_class_at_present, DataType: object
Columna: address, DataType: object
Columna: apartment_number, DataType: object
Columna: zip_code, DataType: int64
Columna: residential_units, DataType: int64
Columna: commercial_units, DataType: int64
Columna: total_units, DataType: int64
Columna: land_square_feet, DataType: object
Columna: gross_square_feet, DataType: object
Columna: year_built, DataType: int64
Columna: tax_class_at_time_of_sale, DataType: int64
Columna: building_class_at_time_of_sale, DataType: object
Columna: sale_price, DataType: object
Columna: sale_date, DataType: object

* Asegúrate que las columnas de SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) sean de tipo flotante. Escribe qué tipo de dato tienen asignado. Si no son correctos, realiza el cambio.

In [63]:
#Imprimimos las columnas que nos interesan e imprimimos el tipo de dato que son
print('Columnas y tipo de dato antes del cambio: ')
for col in df.columns:
  if col in ['sale_price','land_square_feet','gross_square_feet']:
    print(f'Columna: {col}, DataType: {df[col].dtype}')
#Acutalizamos el tipo de dato en las columnas a tipo flotante
df['sale_price'] = pd.to_numeric(df['sale_price'], errors = 'coerce')
df['land_square_feet'] = pd.to_numeric(df['sale_price'], errors = 'coerce')
df['gross_square_feet'] = pd.to_numeric(df['sale_price'], errors = 'coerce')

Columnas y tipo de dato antes del cambio:
Columna: land_square_feet, DataType: object
Columna: gross_square_feet, DataType: object
Columna: sale_price, DataType: object

* Imprime de nuevo los tipos de datos para demostrar que has arreglado el problema

In [64]:
#Imprimimos las columnas para demostrar que arreglamos el problema
print('Columnas y tipo de dato despues del cambio: ')
for col in df.columns:
  if col in ['sale_price','land_square_feet','gross_square_feet']:
    print(f'Columna: {col}, DataType: {df[col].dtype}')

Columnas y tipo de dato despues del cambio:
Columna: land_square_feet, DataType: float64
Columna: gross_square_feet, DataType: float64
Columna: sale_price, DataType: float64

---

**Práctica 17: Genera el diccionario de datos del data frame preprocesado. Imprime el contenido de dicho diccionario

In [65]:
#Iniciamos la variable diccionario donde guardaremos en la primer columna el nombre
#de las columnas, y en tipo de datos guardaremos el tipo de dato en texto
#para cada columna
diccionario_datos = pd.DataFrame({"Nombre de columna": df.columns,"Tipo de dato": [str(df[col].dtype) for col in df.columns]})
#Impriminmos el diccionario
print(diccionario_datos)

                 Nombre de columna Tipo de dato
0                      index_miiad        int64
1                          borough        int64
2                     neighborhood       object
3          building_class_category       object
4             tax_class_at_present       object
5                            block        int64
6                              lot        int64
7                        ease-ment       object
8        building_class_at_present       object
9                          address       object
10                apartment_number       object
11                        zip_code        int64
12               residential_units        int64
13                commercial_units        int64
14                     total_units        int64
15                land_square_feet      float64
16               gross_square_feet      float64
17                      year_built        int64
18       tax_class_at_time_of_sale        int64
19  building_class_at_time_of_sale       object
20                      sale_price      float64
21                       sale_date       object